@use "sass:map";
@use "./variables" as *;

// Responsive
@mixin mq($bp) {
  @media (min-width: map.get($breakpoints, $bp)) {
    @content;
  }
}

// Centrer le contenu
@mixin container($max: 1240px) {
  max-width: $max;
  margin-inline: auto;
}