$color-primary: #ff6060;
$color-dark: #000000;
$color-light: #ffffff;
$color-muted: #f6f6f6;

$radius-lg: 25px;
$radius-md: 10px;

$space-4: 16px;
$space-5: 25px;
$space-6: 32px;
$space-8: 48px;


$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px
);