//Couleurs principales
$color-primary: #ff6060;
$color-light: #ffffff;
$color-dark: #000000;

//Espacements
$space-4: 16px;
$space-6: 32px;

//Border radius
$radius-md: 8px;
$radius-lg: 16px;

//Taille Responsive
$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px
);