@use "../styles/_variables.scss";
@use "../styles/_mixins.scss";

.banner{
    position: relative;
    border-radius: $radius-lg;
    overflow: hidden;
    height: 160px;

    @include mq("md"){ height: 200px; }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.7);
        display: block;
    }

    &_overlay{
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;

        h1{
            color: $color-light;
            text-align: center;
            margin: 0;
        }
    }
}