@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.banner{
    position: relative;
    border-radius: $radius-lg;
    overflow: hidden;
    height: 160px;
    margin-top: 40px;

    @include mq("md"){ height: 223px; }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.7);
        display: block;
    }

    &__overlay{
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;

        background: linear-gradient(0deg,rgba(0,0,0,0.50) 100%);
    }

    &__title {
        color: $color-light;
        margin: 0;
        text-align: center;
        padding-inline: $space-6;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
    }
}