@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.card {
    position: relative;
    border-radius: $radius-md;
    overflow: hidden;
    background: $color-muted;
    aspect-ratio: 1 / 1;
    inline-size: 100%;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__title {
        position: absolute;
        left: $space-4; right: $space-4; bottom: $space-4;
        color: $color-light;
        margin: 0; font-weight: 600; font-size: 18px; line-height: 1.2;
        text-shadow: 0 1px 2px rgba(0,0,0,0.70);
    }

    
    &::after {
        content: "";
        position: absolute; left: 0; right: 0; bottom: 0;
        height: 50%;
        pointer-events: none;
    }
}





