@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.collapse{
    border-radius: $radius-md;
    overflow: hidden;
    background: #F6F6F6;

    &__header{
        width: 100%;
        border: none;
        background: $color-primary;
        color: $color-light;
        padding: $space-4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
    }

    &__title{
        text-align: left;
    }

    &__icon{
        display: inline-block;
        transition: transform 0.5s ease;

        img{
            width: 16px;
            height: 16px;
        }
    }

    &__content{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    &__inner{
        padding: $space-4;
        padding-top: $space-4;
        color: #333;

        ul{
            margin: 0;
            padding-left: 18px;
        }
    }

    &.collapse--open{
        .collapse__content{
            max-height: 500px;
        }

        .collapse__icon{
            transform: rotate(-180deg);
        }
    }
}