@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.site-header {
    margin-top: $space-6;
    margin-bottom: $space-6;

    .header__inner {
        @include container(1240px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo img { 
        height: 45px;

        @include mq("md"){
            height: 68px;
        }
    }

    nav ul {
        display: flex;
        gap: $space-6;
        list-style: none;
        margin: 0; padding: 0;

        a {
            text-decoration: none;
            color: $color-dark;
            font-weight: 500;

            &.active {
                text-decoration: underline;
                text-underline-offset: 4px;
                color: $color-dark;
            }
        }
    }
}