header {
    display: flex;
    justify-content: space-between;
    

    .logo {    
        img {
            height: 40px;
        }
    }

    nav ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        padding: 0;

        a {
            text-decoration: none;
            color: #000;
            font-weight: 500;

            &.active {
                text-decoration: underline;
            }
        }
    }
}